
#game-area {
  width: 100vw;
  height: 100vh;
  //@extend %borders;
  #song-wrapper {
    display: flex;
    flex-wrap: wrap;
    .card {
      @extend %borders;
      flex:1;
      // Make text nicely centered
      display:flex;
      justify-content: center;
      align-items: center;
      p.number{
        display:block;
      }
      p.word{
        display:none;
      }
    }
    .card.revealed{
      p.number{
        display:none;
      }
      p.word{
        display:block;
      }
    }
  }
}


#scoreboard{
  p{
    display:inline-block;
    margin:0;
  }
  p.name{
    width:50%;
    text-align: right;
  }
  p.name::after{
    content:":";
    margin-right:1em;
  }
}