@import "material-icons/mat-icons";
@import "scss/actual-game";
@import "scss/game-editor";
@import "scss/header";
@import "scss/footer";


// TODO: fix this mess with game-editor and element widths.
// things are broken visually
%borders{
  border: 1px solid #999;
  border-radius: 3px;
  padding:1em;
  margin:0.5em;
}

%center-content-vertical{
  display:flex;
  align-items: center;
}

body{
  margin:0;
  display:flex;
  flex-flow:column;
  align-items:center;
}

#content{
  overflow:auto;
  padding:0;
  min-width:60vw;
  min-height: 80vh;
}
footer{
  height:20vh;
  width:100vw;
}

#hider{
  display:none;
}

p.counter{
  display: inline-block;
  margin: 0;
  color: #aaa;
  font-size: 0.8em;
  font-family:monospace;
}

button{
  background: white;
  border: 2px solid #555;
  border-radius: 2px;
}

.icon-button{
  border:none;
  vertical-align: -50%;
  padding:0;
}

body{
  font-family:roboto, sans-serif;
}
