/*TODO:
Card style
Song style
Hidden card
Hidden song
*/
%borders{
  border: 1px solid #999;
  border-radius: 3px;
  padding:1em;
  margin:0.5em;
}

#controls{
  @extend %borders;

  #creators{
    display:flex;
    justyfy:center;
    > div{
    @extend %borders;
    }
  }
  #team-creator{
    flex:1;
  }
  #song-creator{
    flex:2;
  }
}

#game-area{
  @extend %borders;
}
