@import "material-icons/mat-icons";
@import "scss/actual-game";
@import "scss/game-editor";
@import "scss/header";
@import "scss/footer";

$nightMode: false;
// TODO: fix this mess with game-editor and element widths.
// things are broken visually
%borders{
  border: 1px solid #999;
  border-radius: 3px;
  padding:1em;
  margin:0.5em;
}

%center-content-vertical{
  display:flex;
  align-items: center;
}

footer{
  height:15vh;
  width:100vw;
}

#hider{
  display:none;
}

p.counter{
  display: inline-block;
  margin: 0;
  color: #aaa;
  font-size: 0.8em;
  font-family:monospace;
}

button{
  background: white;
  border: 2px solid #555;
  border-radius: 2px;
}

.icon-button{
  display:flex;
  border:none;
  vertical-align: -50%;
  padding:0;
}

body{
  margin:0;
  font-family:roboto, sans-serif;
  background: white;
  @if $nightMode{
    background: black;
    filter:invert(100%);
  }
  // grid layout
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1fr ;
  grid-template-rows: repeat(4, auto) 1fr;
  grid-template-areas:
          ". header header ."
          ". settings settings ."
          ". teamcreator songcreator ."
          ". teamlist songlist ."
          "footer footer footer footer";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: start;
  grid-row-gap:1.5em;
}


